body {
    background-color: brown;
    color: greenyellow;
    font-family: Arial;
    font-size: 14px;
    margin-top: 60px;
    margin-left: 60px;
}

li.compiled {
    color:gold;
}

li.interpreted {
    color:silver;
}

.main-idea {
    color:white;
}

button, input {
    margin-top: 20px;
}