
body {

    margin-top: 60px;
    margin-left: 60px;
    font-family: Arial;
    font-size: 14px;
}

li.compiled {

    color:orange;
}

li.interpreted {

    color:darkgreen;
}

.main-idea {
    color:blue;
}

button, input {
    margin-top: 20px;
}